---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Bridges | Kenah Field">
  <main class="min-h-screen flex items-center justify-center">
    <div class="flex justify-center gap-6 my-8">
  <a href="https://youtube.com/@kenah" target="_blank" class="text-text-secondary hover:text-text-primary transition-colors" aria-label="Youtube">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24"><path d="M19.615 3.184c...z"/></svg>
  </a>
  
  <a href="https://patreon.com/kenah" target="_blank" class="text-text-secondary hover:text-text-primary transition-colors" aria-label="Patreon">
    <img src="/images/Patreon-logo_brandlogos.net_1pcmb.png" alt="Patreon Logo" class="w-6 h-6">
  </a>
  
  <a href="https://x.com/kenahfield" target="_blank" class="text-text-secondary hover:text-text-primary transition-colors" aria-label="Twitter X">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24"><path d="M18.244 2.25h...z"/></svg>
  </a>
  
  <a href="https://bsky.app/profile/kenah.co" target="_blank" class="text-text-secondary hover:text-text-primary transition-colors" aria-label="Bluesky">
    <img src="/images/Bluesky-Streamline-Simple-Icons.svg" alt="Bluesky Logo" class="w-6 h-6">
  </a>
</div>

      <div class="flex flex-col gap-4">
        <a href="https://kenahfield.com" class="link-button">
          Enter My Digital Garden (Kenahfield.com)
        </a>
        <a href="https://youtube.com/@kenah" class="link-button">
          Youtube
        </a>
        <a href="https://patreon.com/kenah" class="link-button">
          Patreon
        </a>
        <a href="https://x.com/kenahfield" class="link-button">
          Twitter / X
        </a>
        <a href="https://bsky.app/profile/kenah.co" class="link-button">
          Bluesky
        </a>
      </div>

    </div>
  </main>
</Layout>